@font-face {
    font-family: 'DeltaGothic';
    src: local('DeltaGothic'), url(./fonts/DelaGothicOne-Regular.ttf);
}

h1 {
    font-family: DeltaGothic, sans-serif !important;
}

.auth__block {
    margin-top: 10px;
}

.auth__block a {
    margin-bottom: 10px;
}

.icon_span {
    padding: 25px 10px;
    color: black;
    border-radius: 10px;
}

.card {
    font-size: 25px;
    font-family: DeltaGothic, sans-serif;
}

.icon {
    width: 90px;
    padding: 0;
    margin-bottom: 5px;
}

.numpad__block {
    max-width: 30%;
    margin: auto;
}

.block__stats {
    max-width: 25%;
    margin: 30px auto auto;
}

.history__block {
}

.element {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 10px 14px rgba(0, 0, 0, .05);
    border-radius: 30px;
}

.remove__button {
    float: right;
}

@media (max-width: 767px) {
    .numpad__block {
        max-width: 100%;
        margin: auto;
    }

    .block__stats {
        max-width: 100%;
        margin: 30px auto auto;
    }
}
